body {
  margin: 0;
  background: #f5f8fb;
}

#root {
  height: 100vh;
}

.sticky {
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 2;
  background: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6559fe;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6559fe;
}

.fade-enter {
  max-height: 0;
  opacity: 0;
}

.fade-enter-active {
  max-height: 30px;
  opacity: 1;
  transition: all 500ms;
}

.fade-exit {
  max-height: 30px;
  opacity: 1;
}

.fade-exit-active {
  max-height: 0;
  opacity: 0;
  transition: all 500ms;
}
