body {
  margin: 0;
  background: #f5f8fb;
}

#root {
  height: 100vh;
}

.sticky {
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 2;
  background: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6559fe;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6559fe;
}

.Select-menu-outer {
  z-index: 3;
}
